body{
    align-items: center;
    justify-content: center;
    background-color: rgb(247, 240, 255);
}

* {
     box-sizing: border-box; 
}
.main-box{
    margin: 0 auto;
    border: 1px solid purple 10px;
    background-color: blueviolet;
    color: blanchedalmond;
    font-family: Impact;
}

.sub-section{
    background-color: darkgray;
    border-radius: 20px;
    padding: 20px;
    margin: 40px;
    display: inline-block;
}

header {
    color: crimson;
}

a{
    color: chartreuse;
}


title {
    padding: 15px;
    margin: 20px;
    color: brown;
}

.table {
    padding: 20px;
    border-radius: 20px;
    font-family: 'Trebuchet MS';
    background-color: aliceblue;
    border-style: solid;
    border-color: black;
    border-width: 5px;
    width: 100%;
}


.table th {
    font-size: 40px;
}

.table td {
    font-family: 'Arial Narrow';
    font-size: 22px;
    border: 1px groove black ;
    background-color: aqua;
    transition: 0.6s;
    width: 40px;
    height: 20px;
}

.table a{
    transition: 0.5s;
}

.table td:hover{
    background-color: burlywood;
    scale: 3;
}
.table a:hover {
    color: red;
    scale: 2;
}

.super-header  {
    position: fixed;
    font-size: 5px;
    font-family: 'Courier New';
    background-color: blue;
    width: 100%;
}
