
:root{
    --color-bg1: #027373;
    --color-bg2: #ADD9D1;
    --color-bg3: #038C7F;
    --color1: #D95252;
    --color2: #0D0D0D;

    
}

body{
    align-items: center;
    justify-content: center;
    background-color:var(--color-bg1);
}


* {
     box-sizing: border-box; 
}
.main-box{
    margin: 0 auto;
    border: 1px solid purple 10px;
    background-color: var(--color-bg1);
    color: var(--color2);
    font-family: Impact;
}

.sub-section{
    background-color: var(--color-bg2);
    border-radius: 20px;
    padding: 20px;
    margin: 40px;
    display: inline-block;
    border-width: 5px;
}

header {
    color: var(--color1);

}

a{
    color:var(--color2);
}


title {
    padding: 15px;
    margin: 20px;

}

.table {
    padding: 20px;
    border-radius: 20px;
    font-family: 'Trebuchet MS';
    background-color: var(--color-bg4);
    border-style: none;
    border-color: var(--color2);
    border-width: 5px;
    width: 100%;
}


.table th {
    font-size: 40px;
    border: 2px solid black;
    padding: 15px;
}

.table td {
    font-family: 'Arial Narrow';
    font-size: 22px;
    border: 1px groove black ;
    transition: 0.6s;
    width: 40px;
    height: 20px;
}

a{
    transition: 0.5s;
}

.table td:hover{
    background-color: burlywood;
    scale: 3;
}
a:hover {
    color: red;
    scale: 2;
}

.super-header  {
    position: fixed;
    font-size: 5px;
    font-family: 'Courier New';
    background-color: var(--color-bg3) ;
    width: 100%;
}

.main-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.wrapper{
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.card {
    background-color: var(--color1);
    color: var(--color2);
    padding: 10px;
    margin: 20px 10px 20px 10px;
    border-radius: 5px;
}

.hero{
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--color-bg2);
    
}

.sidebar{
    background-color: var(--color-bg2);
    flex: 250px 0 0x;
}

.conteudo{
    flex: 1;
}